body {
  font-family: "ADLaM Display", sans-serif;
  background-color: #fff1e8;
}

.home-container {
  max-width: 800px;
  padding: 1rem 1rem 1rem 1rem;
  text-align: left;
}

.home-container h1 {
  font-size: 90px;
  font-family:"Rubik Mono One";
  color: #3171a6;
  margin-top: 0;
  margin-bottom: 1rem;
}

.home-container h2 {
  padding: 1rem;
  border-left: 10px solid #3171a6;
  font-size: 25px;
  line-height: 1.5;
  border-radius: 10px;
  max-width: 900px;
  max-height: 466px;
  text-align: justify;
  font-family:"ADLaM Display";
  color: #3171a6; 
  margin-bottom: 1rem;
}

.home-options {
  padding: 1rem 7rem 1rem 5rem;
  font-family:"ADLaM Display";
  display: flex;
  gap: 4rem;
}

.create-home-button,
.join-home-button {
  font-size: 30px;
  padding: 1rem 1rem;
  border: none;           
  font-family: 'ADLaM Display', sans-serif;
  border-radius: 20px;
  cursor: pointer;
}

.create-home-button {
  font-family:"ADLaM Display";
  background-color: #D9D9D9;
  color: #3171a6;
}

.create-home-button:not(:disabled):hover {
  background-color: #D9D9D9;
  transform: translateY(-2px);
}

.join-home-button {
  font-family:"ADLaM Display";
  background-color: #D9D9D9;
  color: #3171a6;
  gap: 5rem;
}

.join-home-button:not(:disabled):hover {
  background-color: #D9D9D9;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .home-options {
    flex-direction: row;
    max-width: 500px;
  }

 
  .home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.home-image img {
  max-width: 700px;
  height: auto;
}

@media (max-width: 768px) {
  .home-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .home-image img {
    max-width: 80%;
  }
}

} 