.leaderboard-container {
  background-color: #ffefe3;
  min-height: 100vh;
  padding: 40px 20px;
  font-family: "ADLaM Display";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-title {
  margin-bottom: 30px;
  color: #3171a6;
  margin-bottom: 20px;
}

.leaderboard-table {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  max-height: 400px; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.leaderboard-row {
  background-color: #bfbfbf;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard-rank,
.leaderboard-name,
.leaderboard-score {
  color: #3171a6;
  font-weight: bold;
  font-size: 16px;
}

.leaderboard-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  padding: 10px 20px;
  font-family: "ADLaM Display";
  border-radius: 8px;
  font-size: 30px;
  cursor: pointer;
  border: none;
}

.button.primary {
  background-color: #3171a6;
  color: #fff1e8;
}

.button.light {
  background-color: #d9d9d9;
  color: #3171a6;
}
