.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200vh;
  background-color: #ffefe3;
  color: #3171a6;
  font-family: "ADLaM Display";
  padding: 40px 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 75px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
}

.players-section {
  color: #3171a6;
}

.players-list {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  height: 480px;
  width: 460px;
  overflow-y: auto;
  margin-top: 10px;
}

.player-item {
  padding: 6px 0;
  font-size: 16px;
  color: #3171a6;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.url-box,
.code-box {
  background-color: #d9d9d9;
  border-radius: 20px;
  color: #3171a6;
  font-size: 16px;
  min-width: 100px;
  word-break: break-word;
}

.url-box{
  padding: 10px 40px;
  min-width: 300px;
  text-align: left;
  white-space: nowrap;
}

.code-box{
  padding: 10px 5px;
  text-align: center;
   min-width: 90px;  
  max-width: 80px;
}

.qr-section {
  text-align: left;
}

.qr-section h3 {
  color: #3171a6;
}

.qr-section img {
  width: 310px;
  height: 310px;
  border-radius: 20px;
  background-color: #d9d9d9;
}

.create-button {
  padding: 10px 30px;
  background-color: #3171a6;
  color: #fff1e8;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  cursor: pointer;
  font-family: "ADLaM Display";
  transition: background-color 0.3s;
  width: 300px;
  margin-top: -100px;  
  margin-right: 30px;  
}
.create-button:hover {
  background-color: #317ba6;
}
