button {
    width: 100%;
    padding: 12px;
    background-color: #3171a6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:not(:disabled):hover {
    background-color: #317ba6;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}